spring:
  application:
    name: spring-cloud-stream
  cloud:
    function:
      definition: consumer
    stream:
      kafka:
        binder:
          brokers: localhost:9092,localhost:9093
      bindings:
        supplier-out-0:
          destination: multi-partitions
        consumer-in-0:
          destination: multi-partitions
          group: group1
          consumer:
            concurrency: 2
